In [1]:
# LOAD THE DATASET
import pandas as pd
import numpy as np

df = pd.read_csv('Downloads/Sales_data.csv')
print(df)

      Order_ID  Order_Date     Product         Category Region    Sales  \
0    ORD100000  2023-04-13      Laptop       Technology   East  3808.79
1    ORD100001  2024-03-11      Laptop        Furniture  South   539.42
2    ORD100002  2023-09-28      Laptop       Technology   East  4453.78
3    ORD100003  2023-04-17      Tablet       Technology  North   110.93
4    ORD100004  2023-03-13    Keyboard        Furniture  South  1881.76
..         ...         ...         ...              ...    ...      ...
995  ORD100995  2024-10-03      Mobile        Furniture  North  3944.21
996  ORD100996  2024-08-18      Mobile       Technology  North  3879.63
997  ORD100997  2023-11-17     Monitor  Office Supplies  South  3751.80
998  ORD100998  2023-11-15      Mobile        Furniture  South   795.51
999  ORD100999  2024-09-04  Headphones        Furniture  North  1125.29

     Quantity   Profit
0           5   489.22
1           6   677.68
2           6   787.10
3           5  1391.09
4           3   942.83
..        ...      ...
995         7  1435.50
996         6   665.23
997         6   569.80
998         8   273.78
999         8  1430.08

[1000 rows x 8 columns]

In [3]:
# REMOVE DUPLICATES
df.drop_duplicates(inplace=True)
print(df)

      Order_ID  Order_Date     Product         Category Region    Sales  \
0    ORD100000  2023-04-13      Laptop       Technology   East  3808.79
1    ORD100001  2024-03-11      Laptop        Furniture  South   539.42
2    ORD100002  2023-09-28      Laptop       Technology   East  4453.78
3    ORD100003  2023-04-17      Tablet       Technology  North   110.93
4    ORD100004  2023-03-13    Keyboard        Furniture  South  1881.76
..         ...         ...         ...              ...    ...      ...
995  ORD100995  2024-10-03      Mobile        Furniture  North  3944.21
996  ORD100996  2024-08-18      Mobile       Technology  North  3879.63
997  ORD100997  2023-11-17     Monitor  Office Supplies  South  3751.80
998  ORD100998  2023-11-15      Mobile        Furniture  South   795.51
999  ORD100999  2024-09-04  Headphones        Furniture  North  1125.29

     Quantity   Profit
0           5   489.22
1           6   677.68
2           6   787.10
3           5  1391.09
4           3   942.83
..        ...      ...
995         7  1435.50
996         6   665.23
997         6   569.80
998         8   273.78
999         8  1430.08

[1000 rows x 8 columns]

In [6]:
# CHANGE DATE TYPE
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
print(df)

      Order_ID Order_Date     Product         Category Region    Sales  \
0    ORD100000 2023-04-13      Laptop       Technology   East  3808.79
1    ORD100001 2024-03-11      Laptop        Furniture  South   539.42
2    ORD100002 2023-09-28      Laptop       Technology   East  4453.78
3    ORD100003 2023-04-17      Tablet       Technology  North   110.93
4    ORD100004 2023-03-13    Keyboard        Furniture  South  1881.76
..         ...        ...         ...              ...    ...      ...
995  ORD100995 2024-10-03      Mobile        Furniture  North  3944.21
996  ORD100996 2024-08-18      Mobile       Technology  North  3879.63
997  ORD100997 2023-11-17     Monitor  Office Supplies  South  3751.80
998  ORD100998 2023-11-15      Mobile        Furniture  South   795.51
999  ORD100999 2024-09-04  Headphones        Furniture  North  1125.29

     Quantity   Profit
0           5   489.22
1           6   677.68
2           6   787.10
3           5  1391.09
4           3   942.83
..        ...      ...
995         7  1435.50
996         6   665.23
997         6   569.80
998         8   273.78
999         8  1430.08

[1000 rows x 8 columns]

In [8]:
# ADD THE PROFIT_MARGIN COLUMN
df['Profit_Margin'] = (df['Profit'] / df['Sales']) * 100
print(df)

      Order_ID Order_Date     Product         Category Region    Sales  \
0    ORD100000 2023-04-13      Laptop       Technology   East  3808.79
1    ORD100001 2024-03-11      Laptop        Furniture  South   539.42
2    ORD100002 2023-09-28      Laptop       Technology   East  4453.78
3    ORD100003 2023-04-17      Tablet       Technology  North   110.93
4    ORD100004 2023-03-13    Keyboard        Furniture  South  1881.76
..         ...        ...         ...              ...    ...      ...
995  ORD100995 2024-10-03      Mobile        Furniture  North  3944.21
996  ORD100996 2024-08-18      Mobile       Technology  North  3879.63
997  ORD100997 2023-11-17     Monitor  Office Supplies  South  3751.80
998  ORD100998 2023-11-15      Mobile        Furniture  South   795.51
999  ORD100999 2024-09-04  Headphones        Furniture  North  1125.29

     Quantity   Profit  Profit_Margin
0           5   489.22      12.844499
1           6   677.68     125.631234
2           6   787.10      17.672629
3           5  1391.09    1254.025061
4           3   942.83      50.103626
..        ...      ...            ...
995         7  1435.50      36.395121
996         6   665.23      17.146738
997         6   569.80      15.187377
998         8   273.78      34.415658
999         8  1430.08     127.085462

[1000 rows x 9 columns]

In [10]:
# TOTAL SALES
Total_sales = df['Sales'].sum()
print(Total_sales)

2590861.28

In [11]:
# TOTAL PROFIT
Total_profit = df['Profit'].sum()
print(Total_profit)

643063.02

In [12]:
# AVERAGE PROFIT MARGIN
Average_profit_margin = df['Profit_Margin'].mean()
print(Average_profit_margin)

55.082257653666794

In [13]:
# REGION PROFIT
Region_profit = df.groupby('Region')['Profit'].sum()
print(Region_profit)

Region
East     163119.89
North    147132.49
South    162850.74
West     169959.90
Name: Profit, dtype: float64

In [14]:
# REGION SALES
Region_sales = df.groupby('Region')['Sales'].sum()
print(Region_sales)

Region
East     667663.41
North    642083.01
South    675308.37
West     605806.49
Name: Sales, dtype: float64

In [15]:
# CATEGORY SALES
Category_sales = df.groupby('Category')['Sales'].sum()
print(Category_sales)

Category
Furniture          779157.57
Office Supplies    884246.27
Technology         927457.44
Name: Sales, dtype: float64

In [18]:
# TOP 10 PRODUCTS
Top_products = df.groupby('Product')['Sales'].sum().sort_values(ascending=True).head(10)
print(Top_products)

Product
Printer       272076.45
Mouse         310501.49
Monitor       318557.47
Keyboard      320454.15
Laptop        326755.81
Mobile        336082.35
Headphones    345469.89
Tablet        360963.67
Name: Sales, dtype: float64

In [20]:
# EXPORT THE CLEAN DATA CSV FILE
df.to_csv("clean_sales_data.csv", index=False)